<p id="notice"><%= notice %></p>

<p>
  <strong>Hid:</strong>
  <%= @auction.hid %>
</p>

<p>
  <strong>Min amount:</strong>
  <%= @auction.min_amount %>
</p>

<p>
  <strong>Current amount:</strong>
  <%= @auction.current_amount %>
</p>

<p>
  <strong>Auction end:</strong>
  <%= @auction.auction_end %>
</p>

<p>
  <strong>Bids:</strong>
  <%= @auction.bids %>
</p>

<p>
  <strong>Ended:</strong>
  <%= @auction.ended %>
</p>

<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>
