<p id="notice"><%= notice %></p>

<p>
  <strong>Bid:</strong>
  <%= @bet.bid %>
</p>

<p>
  <strong>Rid:</strong>
  <%= @bet.rid %>
</p>

<p>
  <strong>Hid:</strong>
  <%= @bet.hid %>
</p>

<p>
  <strong>Finish position:</strong>
  <%= @bet.finish_position %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @bet.amount %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @bet.paid %>
</p>

<%= link_to 'Edit', edit_bet_path(@bet) %> |
<%= link_to 'Back', bets_path %>
